{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="crear_publicador">
        <h5 class="text-center mt-1 mb-2">Registre los datos del nuevo publicador</h5>
        <div class="column is-one-third" style="width: 300px; margin:auto;">
            <form action="#" method="POST" class="forms-sample">
                {% csrf_token %}
                <div class="form-group"> {{ form|crispy }}</div>
                <div class="form-group">
                    <button class="btn btn-lg btn-block mt-4"
                        style="background-color:  #6EB0FF; font-size: 1em;font-weight: bold; color: white; display: block;"
                        type="submit">Guardar</button>
                    <a href="/"
                        style="font-size: 1em; display: block;border: solid 1px rgb(166, 166, 166); color: rgb(104, 104, 104); font-weight:bold;"
                        class="btn btn-lg btn-block">Regresar</a>
                </div>
            </form>
        </div>
        {% if messages %}
        <ul class="messages list-group text-center">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} list-group-item" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
    </div>    
</div>
{% endblock content %}
