{% extends "index.html" %}

{% block content %}
<div class="contenedor_grupos_inactivos">    
    <div class="publicadores">
        <h1>Publicadores Irregulares</h1>
        {% if messages %}
        <ul class="messages list-group text-center">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} list-group-item" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if publicadores_irregulares %}
        <table id="table_id" class="display tabla_pub table table-sm table-hover">
            <tbody>
                {% for p in publicadores_irregulares %}
                <tr>
                    <td class="nombre_pub">{{ p }}</td>
                    <td class="nombre_pub">{{ p.grupo }}</td>
                    <td><a class="acciones_pub" href="{% url 'informes_publicador' p.publicador.id %}" title="Informes"><i class="fa-solid fa-file-arrow-up"></i></a><span class="estado_pub">{{p.estado}}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>        
        {% endif %} 
    </div>
    
</div>
{% endblock content %}
