<!doctype html>
{% load static %}
<html lang="en">

<head>
	<title>Oeste - Inicio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<script src="https://kit.fontawesome.com/8ea6856f9f.js" crossorigin="anonymous"></script>
	<link href="{% static 'icons/css/fontawesome.css' %}" rel="stylesheet">
	<link href="{% static 'icons/css/brands.css' %}" rel="stylesheet">
	<link href="{% static 'icons/css/solid.css' %}" rel="stylesheet">
	<link href="{% static 'icons/css/all.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
</head>

<body>
	<section class="ftco-section">
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
			<div class="container">
				<a class="navbar-brand" href="#">Oeste <span>congregación</span></a>
				<form action="#" class="searchform order-sm-start order-lg-last">
					<div class="form-group d-flex">
						<input type="text" class="form-control pl-3" placeholder="Buscar">
						<button type="submit" placeholder="" class="form-control search"><span
								class="fa fa-search"></span></button>
					</div>
				</form>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
					aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fa fa-bars"></span> Menú
				</button>
				<div class="collapse navbar-collapse" id="ftco-nav">
					<ul class="navbar-nav m-auto">
						<li class="nav-item active"><a href="/" class="nav-link">Inicio</a></li>
						<li class="nav-item"><a href="{% url 'grupos' %}" class="nav-link">Grupos</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">Informes</a>
							<div class="dropdown-menu" aria-labelledby="dropdown04">
								<a class="dropdown-item" href="{% url 'publicadores_por_grupo' 1 %}">Nuevo informe
									mensual</a>
								<a class="dropdown-item" href="{% url 'informe_actual' %}">Informe actual</a>
								<a class="dropdown-item" href="{% url 'informes_mensuales_list' %}">Historial</a>
								<a class="dropdown-item" href="#">Informe atrasado</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">Publicadores</a>
							<div class="dropdown-menu" aria-labelledby="dropdown04">
								<a class="dropdown-item" href="{% url 'nuevo_publicador' %}">Registrar nuevo publicador</a>
								<a class="dropdown-item" href="#">Listado actual</a>
								<a class="dropdown-item" href="#">Irregulares</a>
								<a class="dropdown-item" href="{% url 'publicadores_inactivos'  %}">Lista Inactivos</a>
								<a class="dropdown-item" href="{% url 'calculo_inactivos'  %}">Calculo Inactivos</a>
								<a class="dropdown-item" href="#">Ancianos</a>
								<a class="dropdown-item" href="#">Siervos ministeriales</a>
							</div>
						</li>
						<li class="nav-item"><a href="/admin" target="_blank" class="nav-link">Administrador</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END nav -->
	</section>

	{% block content %}



	{% endblock content %}

	
	{% block js %}
		
	{% endblock js %}
		

	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="{% static 'js/popper.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'logica_informes.js' %}" ></script>

</body>

</html>