{% extends "index.html" %}
{% block content %}
<div class="contenedor_informe">
    <div class="informe">
        <h1>Informe {{informe_mensual.mes}} - {{informe_mensual.año}} - Grupo {{grupo.numero}} -
            {{grupo.superintendente}}</h1>
        <table id="table_id" class="display tabla_informes table table-sm table-hover tabla_informes_grupo">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Publicador</th>
                    <th scope="col">Publicaciones</th>
                    <th scope="col">Videos</th>
                    <th scope="col">Horas</th>
                    <th scope="col">Revisitas</th>
                    <th scope="col">Cursos</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Guardar</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in request.session.carro.items %}

                {% if key != "grupo" %}
                <tr style="font-size:0.8em !important; height: 30px !important;">
                    <form action="{% url 'guardar_informe_publicador' grupo.numero %}" method="POST">
                        {% csrf_token %}

                        <input type="hidden" name="id" value="{{ value.id }}">
                        <input type="hidden" id="grupo" name="grupo" value="{{ grupo.numero }}">

                        <td class="nombre_pub">{{ value.nombre }}</td>
                        <input type="hidden" name="nombre" value="{{value.nombre }}">
                        <td><input style="height: 20px !important;" type="number" class="form-control input_informe"
                                name="pub" value="{{ value.publicaciones }}"></td>
                        <td><input style="height: 20px !important;" type="number" class="form-control input_informe"
                                name="vid" value="{{ value.videos }}"></td>
                        <td><input style="height: 20px !important;" type="number" class="form-control input_informe"
                                name="hor" id="horas" value="{{ value.horas }}"></td>
                        <td><input style="height: 20px !important;" type="number" class="form-control input_informe"
                                name="rev" value="{{ value.revisitas }}"></td>
                        <td><input style="height: 20px !important;" type="number" class="form-control input_informe"
                                name="cur" value="{{ value.cursos }}"></td>
                        <td><input style="height: 20px !important;" type="text"
                                class="form-control input_informe_observaciones" name="obs"
                                value="{{ value.observaciones }}"></td>
                        
                        {% if {{value.estado}} == '1' %}
                        <td><input style="height: 20px !important;" type="checkbox"
                            class="form-control" id="estado{{ value.id }}" name="estado" value="{{ value.id }}" checked onclick="funcion_cambio_estado('{{value.id}}')"></td>
                        {% else %}
                        <td><input style="height: 20px !important;" type="checkbox"
                            class="form-control" id="estado{{ value.id }}" name="estado" value="{{ value.id }}" onclick="funcion_cambio_estado('{{value.id}}')"></td>
                    
                        {% endif %}
                            
                        
                                <td><button style="height: 20px;" type="submit" class="btn btn-sm"><i
                                    class="fa-regular fa-floppy-disk" style="padding: 0%;margin-top: 0%;"></i></button>
                        </td>
                    </form>
                </tr>
                {% endif %}
                {% endfor %}
                {% if messages %}
                <ul class="text-center mb-2 alert alert-danger">
                    {% for message in messages %}
                    <li{% if message.tags %} class="list-group-item" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
            </tbody>
        </table>
        <div class="d-grid gap-2 botones" style="text-align:center; margin-bottom: 30px;">
            <a href="#" class="btn btn-secondary btn-sm text-white finalizar_informe" type="button"
                onclick="confirmar_informe('{{grupo.numero}}')">Guardar informe de
                grupo</a>
            <a href="{% url 'cancelar_informe' %}" class="btn btn-outline-secondary btn-sm cancelar_informe"
                type="button">Cancelar</a>
        </div>
    </div>
</div>
{% endblock content %}