{% extends "index.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div id="first">
        <div class="myform form ">
          <div class="logo mb-3">
            <div class="col-md-12 text-center">
              <h1>Login</h1>
            </div>
          </div>

          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="usuario">
              <td>{{ form.username.label_tag }}</td>
              <td class="form_usuario">{{ form.username }}</td>
            </div>
            <div>
              <td>{{ form.password.label_tag }}</td>
              <td class="password">{{ form.password }}</td>
            </div>
            <div>
              <input type="submit" value="Iniciar sesión" />
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}